################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/BdP MV/v15
/BdP MV/BdP_MV.Android/obj/Debug
/BdP MV/BdP_MV.iOS/obj
/BdP MV/BdP_MV.iOS/bin
/packages
