<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="de.meinbdp.mv" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="BdP_MV.Android" android:icon="@drawable/lilie"></application>
</manifest>